body {
    font-family: sans-serif;
}

button {
    transition: background-color 1s ease;
    background-color: #2284e6;
    border: none;
    margin: 10px 5px 10px 5px;
    font-size: 16px;
    border-radius: 16px;
    padding: 10px;
}

#outer {
    margin-top: 75px;
    text-align: center;
}

#navbar {
    background: #58a9ff;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    right: 5px;
    position: fixed;
    transition: top 0.5s;
}

#navbar a {
    text-decoration: none;
}

button:hover {
    background-color: #58a9ff;
    cursor: pointer;
}

.active {
    background-color: #91c5ff;
}

#game {
    border: solid;
}

.bg {
    z-index: -1;
    margin: 0 auto;
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url("images/background.png") no-repeat center;
    background-size: cover;
}

.box {
    opacity: 1.0;
    text-align: center;
    color: black;
    margin: 35px;
    height: auto;
    background-color: rgba(120, 120, 120, 0.4);
    padding: 25px;
}

.box p {
    text-align: left;
}
