body {
    font-family: sans-serif
}

body {
    background: linear-gradient(154deg, purple 23.5%, aqua 135%);
}

button {
    background-color: linear-gradient(to top, #80ccff 135%, white 23.5%);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: #008ae6;
}

#game {
    border: solid;
}

