body {
    /*background: linear-gradient(154deg, purple 23.5%, aqua 135%);*/
    font-family: sans-serif;
}

button {
    transition: background-color 1s ease;
    background-color: #2284e6;
    border: none;
    margin: 10px 5px 10px 5px;
    font-size: 16px;
    border-radius: 16px;
    padding: 10px;
}

nav {
    background: #58a9ff;
    border-radius: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: #58a9ff;
    cursor: pointer;
}

.active {
    background-color: #91c5ff;
}

#game {
    border: solid;
}
.bg {
	z-index: -1;
	margin: 0px auto; 
    background-image: url("background.png");
	opacity: 0.4;
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%; 
	width: 100%;    
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

